{
    "server": {
        "port": 6001
    },
    "ibkr": {
        "real": {
            "host": "127.0.0.1",
            "port": 4001,
            "account": "U99999999",
            "client_id": 0
        },
        "paper": {
            "host": "127.0.0.1",
            "port": 4002,
            "client_id": 0
        }
    }
}